<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>02-10-todoMVC</title>
  <link rel="stylesheet" type="text/css" href="css/02-10-todoMVC.css">
  <style> [v-cloak] { display: none; } </style>
</head>
<body>
  <section class="todoapp" v-cloak>
      <header class="header">
        <h1>todos</h1>
        <input class="new-todo" autofocus autocomplete="off"
          placeholder="What needs to be done?"
          v-model="newTodo" @keyup.enter="addTodo">
      </header>
      <section class="main" v-show="todos.length">
        <input class="toggle-all" type="checkbox" v-model="allDone">
        <ul class="todo-list">
          <li class="todo"
            v-for="todo in filteredTodos"
            :class="{
              completed: todo.completed,
              editing: todo == editedTodo}">
            <div class="view">
              <input class="toggle" type="checkbox"
                v-model="todo.completed">
              <label @dblclick="editTodo(todo)">
                {{todo.title}}
              </label>
              <button class="destroy"
                @click="removeTodo(todo)">
              </button>
            </div>
            <input class="edit" type="text"
              v-model="todo.title"
              v-if="todo == editedTodo"
              v-todo-focus
              @blur="doneEdit(todo)"
              @keyup.enter="doneEdit(todo)"
              @keyup.esc="cancelEdit(todo)">
          </li>
        </ul>
      </section>
      <footer class="footer" v-show="todos.length">
        <span class="todo-count">
          <strong>{{remaining}}</strong>
          {{pluralize('item', remaining)}} left
        </span>
        <ul class="filters">
          <li><a href="javascript:;"
            :class="{selected: visibility == 'all'}"
            @click="visibility = 'all'" >All</a></li>
          <li><a href="javascript:;"
            :class="{selected: visibility == 'active'}"
            @click="visibility = 'active'" >Active</a></li>
          <li><a href="javascript:;"
            :class="{selected: visibility == 'completed'}"
            @click="visibility = 'completed'" >Completed</a></li>
        </ul>
        <button class="clear-completed" @click="removeCompleted"
          v-show="todos.length > remaining">
          Clear completed
        </button>
      </footer>
    </section>
    <footer class="info">
      <p>Double-click to edit a todo</p>
      <p>Written by <a href="http://evanyou.me">Evan You</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
    <script src="js/vue.js"></script>
    <script src="js/02-10-todoMVC.js"></script>
</body>
</html>