<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>02-10-todoMVC</title>
    <link rel="stylesheet" type="text/css" href="css/02-10-todoMVC.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <section class="todoapp" v-cloak>
        <header class="header">
            <h1>todos</h1>
            <input class="new-todo" autofocus autocomplete="off" placeholder="What needs to be done?" v-model="newTodo" @keyup.enter="addTodo">
        </header>
        <section class="main" v-show="todos.length">
            <input class="toggle-all" type="checkbox" v-model="allDone">
            <ul class="todo-list">
                <li class="todo" :class="{completed:item.completed,editing:item==editingTodo}" v-for="item in filteredTodos">
                    <div class="view">
                        <input class="toggle" type="checkbox" v-model="item.completed">
                        <label @click="editTodo(item)"> {{item.title}}</label>
                        <button class="destroy" @click="removeTodo(item)"> </button>
                    </div>
                    <input v-todo-focus class="edit" type="text" v-model="item.title" v-if="item ==editingTodo" @blur="doneEdit(item)" @keyup.enter="doneEdit(item)" @keyup.esc="cancelEdit(item)">
                </li>
            </ul>
        </section>
        <footer class="footer" v-show="todos.length">
            <span class="todo-count">
          <strong>{{remaining}}</strong> {{pluralize('item',remaining)}}
        </span>
            <ul class="filters">
                <li><a href="javascript:;" :class="{selected: visibility == 'all'}" @click="visibility ='all'">All</a></li>
                <li><a href="javascript:;" :class="{selected: visibility=='active'}" @click="visibility ='active'">Active</a></li>
                <li><a href="javascript:;" :class="{selected: visibility=='completed'}" @click="visibility ='completed'">Completed</a></li>
            </ul>
            <button class="clear-completed" @click="removeComplete">
          Clear completed
        </button>
        </footer>
    </section>
    <footer class="info">
        <p>Double-click to edit a todo</p>
        <p>Written by <a href="http://evanyou.me">Evan You</a></p>
        <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
    <script src="js/vue.js"></script>
    <!-- <script src="js/02-10-todoMVC.js"></script> -->
    <script type="text/javascript">
        var data = {
            newTodo: '',
            todos: [],
            visibility: 'all',
            editingTodo: null
        }

        var filters = {
            all: function(todos) {
                return todos
            },
            active: function(todos) {
                return todos.filter(function(todo) {
                    return !todo.completed
                })
            },
            completed: function(todos) {
                return todos.filter(function(todo) {
                    return todo.completed
                })
            }
        }



        new Vue({
            el: '.todoapp',
            data: data,
            computed: {
                filteredTodos: function() {
                    return filters[this.visibility](this.todos)
                        //filters['all'],filters['active'],filters['completed']
                },
                remaining: function() {
                    return filters.active(this.todos).length
                },
                // allDone: function() {

                //     return this.remaining == 0
                // }
                allDone: {
                    get: function() {
                        return this.remaining == 0
                    },
                    set: function(value) {
                        this.todos.forEach(function(todo) {
                            todo.completed = value;
                        });
                    }
                }
            },
            methods: {
                removeTodo: function(todo) {
                    var index = this.todos.indexOf(todo);
                    this.todos.splice(index, 1);
                },
                pluralize: function(word, count) {
                    return word + (count == 1 ? '' : 's')
                },
                addTodo: function() {
                    let value = this.newTodo && this.newTodo.trim()

                    if (!value) {
                        return
                    }

                    this.todos.push({
                        title: value,
                        completed: false
                    })
                    this.newTodo = ''
                },
                editTodo: function(todo) {
                    this.beforeEditCache = todo.title;
                    this.editingTodo = todo;
                },
                doneEdit: function(todo) {
                    if (!this.editingTodo) {
                        return
                    }
                    this.editingTodo = null;
                    todo.title = todo.title.trim();
                    if (!todo.title) {
                        // this.removeTodo(todo)
                        todo.title = this.beforeEditCache;
                    }
                },
                cancelEdit: function(todo) {
                    if (!this.editingTodo) {
                        return
                    }
                    this.editingTodo = null
                    todo.title = this.beforeEditCache
                },
                removeComplete: function() {
                    this.todos = filters.active(this.todos)
                }
            },
            directives: {
                todoFocus: {
                    inserted: function(el) {
                        el.focus();
                    }
                }
            }
        })
    </script>
</body>

</html>