<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>04-06-scriptNavigation</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/site.css">
</head>

<body>
    <div id="app">
        <header>
            <h1>Flycan 飛肯設計學苑</h1>
            <a href="javascript:;" @click="$router.go(-1)">go -1</a>
            <a href="javascript:;" @click="$router.go(1)">go 1</a>
            <a href="javascript:;" @click="$router.replace('index')">repalce index</a>
            <a href="javascript:;" @click="$router.push('home')">push home</a>
            <a href="javascript:;" @click="$router.push('alex')">alex</a>
        </header>
        <transition name="fade" mode="out-in" appear>
            <router-view :key="$route.fullPath"></router-view>
        </transition>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script>
        var page = {
            template: `
      <div class="page">
        <h1>{{$route.fullPath}}</h1>
      </div>
      `,
            beforeRouteEnter(to, from, next) {
                //no this  
                console.log('page enter')
                next()
            },
            beforeRouteUpdate(to, from, next) {
                console.log('page update')
                next()
            },
            beforeRouteLeave(to, from, next) {
                console.log('page leave')
                next()
            }
        }

        var alex = {
            template: `
      <div class="page">
        <img src="images/alex.jpg">
      </div>
      `
        }

        var router = new VueRouter({
            routes: [{
                path: '/alex',
                component: alex,
                beforeEnter: function(to, from, next) {
                    if (from.fullPath != '/') {
                        next('/')
                    } else {
                        next()
                    }
                    // ...
                }

            }, {
                path: '*',
                component: page
            }]
        })
        router.beforeEach(function(to, from, next) {
            console.log('Route to ', to.fullPath)
            next()
        })
        router.afterEach(function(to, from) {
            console.log('Routed')
        })

        new Vue({
            el: '#app',
            router: router
        })
    </script>
</body>

</html>