<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>05-02-stateGetters-use props</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
        
        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <h1>{{ message }}</h1>
        <p>{{ upMessage }}</p>
        <p>{{ lowMessage }}</p>
        <input type="text" v-model="message">
        <p>====================</p>
        <message :message="message" :um="upMessage" :lm="lowMessage"></message>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/vuex.js"></script>
    <script>
        var data = function() {

            return {
                message: 'Hello World!!!'
            }
        }

        var store = new Vuex.Store({
            strict: true,
            //^^上線後刪除
            state: {
                message: 'Hello World!!!'
            },
            getters: {
                upMessage: function(state) {
                    return state.message.toUpperCase()
                },
                lowMessage: function(state) {
                    return state.message.toLowerCase()
                }
            },
            mutations: {
                change: function(state, data) {
                    state.message = data
                }
            },
            actions: {
                change: function(context, data) {
                    return new Promise((resolve, reject) => {
                        setTimeout(function() {
                            context.commit('change', data)
                            resolve()
                        }, 1000)
                    })
                }
            }
        })
        var storeMixin = {
            computed: {
                message: {
                    get: function() {
                        return this.$store.state.message
                    },
                    set: function(value) {
                        this.$store.commit('change', value)
                    }
                },

                upMessage: function() {
                    return this.$store.getters.upMessage
                },
                lowMessage: function() {
                    return this.$store.getters.lowMessage
                }
            }
        }

        var upMessage = {
            props: ['um'],
            template: `
        <p>{{ um }}</p>
      `
        }
        var lowMessage = {
            props: ['lm'],
            template: `
        <p>{{ lm }}</p>
      `
        }
        Vue.component('message', {
            props: ['message', 'um', 'lm'],
            components: {
                upMessage: upMessage,
                lowMessage: lowMessage
            },
            template: `
        <div>
          <h1>{{ message }}</h1>
          <up-message :um="um"></up-message>
          <low-message :lm="lm"></low-message>
        </div>
      `
        })
        new Vue({
            mixins: [storeMixin],
            el: '#app',
            store: store
        })
    </script>
</body>

</html>