<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>05-03-mutations</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
        
        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <message></message>
        <br>
        <counter v-for="id in number" :id="id"></counter>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/vuex.js"></script>
    <script>
        var messageModule = {
            namespaced: true,
            state: {
                message: 'Hello Vue!!!'
            },
            mutations: {
                'CHANGE': function(state, data) {
                    state.message = data
                }
            }
        }

        var counterModule = function() {
            return {
                namespaced: true,
                state: {
                    count: 0
                },
                mutations: {
                    'CHANGE': function(state, data) {
                        state.count = data
                    },
                    'INCREMENT': function(state) {
                        state.count++
                    },
                    'DECREMENT': function(state) {
                        state.count--
                    }
                }
            }
        }

        var store = new Vuex.Store({
            strict: true,
            modules: {
                AAA: messageModule
            }
        })

        // store.registerModule('counter',counterModule)

        Vue.component('message', {
            template: `
        <div>
          <h1>{{ message }}</h1>
          <input type="text" v-model="message">
        </div>
      `,
            computed: {
                message: {
                    get: function() {
                        return this.$store.state.AAA.message
                    },
                    set: function(val) {
                        this.$store.commit('AAA/CHANGE', val)
                    }
                }
            }
        })

        Vue.component('counter', {
            props: ["id"],
            template: `
        <div>
          <input type="text" v-model="count">
          <p>
            <input type="button" value="+"
              @click="increment">
            <input type="button" value="-"
              @click="decrement">
          </p>
        </div>
      `,
            computed: {
                count: {
                    get: function() {
                        return this.$store.state['counter' + this.id].count
                    },
                    set: function(val) {
                        this.$store.commit('counter' + this.id + '/CHANGE', val)
                    }
                }
            },
            methods: {
                increment: function() {
                    this.$store.commit('counter' + this.id + '/INCREMENT')
                },
                decrement: function() {
                    this.$store.commit('counter' + this.id + '/DECREMENT')
                }
            },
            created: function() {
                this.$store.registerModule('counter' + this.id, counterModule())
            },
            beforeDestroy: function() {
                this.$store.unregisterModule('counter' + this.id)
            }
        })

        var vm = new Vue({
            el: '#app',
            data: {
                number: 3
            },
            store: store
        })
    </script>
</body>

</html>