<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>05-04-actions</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
        
        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <h1>{{ message }}</h1>
        <input type="text" v-model.trim="message">
        <p>====================</p>
        <message></message>
        <p><input type="button" value="button" @click="loadHandler" v-lock="loading"></p>
        <p v-if="list && list.length" v-for="item in list">{{item.class}}</p>

    </div>
    <script src="js/vue.js"></script>
    <script src="js/vuex.js"></script>
    <script src="js/promise.min.js"></script>
    <script src="js/superagent.js"></script>
    <script>
        Vue.directive("lock", function(el, binding) {
            el.disabled = binding.value
            console.log("lock")
        })
        var store = new Vuex.Store({
            strict: true,
            state: {
                message: 'Hello Vue!!!',
                list: null
            },
            mutations: {
                change: function(state, data) {
                    state.message = data
                },
                load: function(state, data) {
                    state.list = data
                }
            },
            actions: {
                change: function(context, data) {
                    return new Promise((resolve, reject) => {
                        setTimeout(function() {
                            context.commit('change', data)
                            resolve()
                        }, 1000)
                    })
                },
                // load: function(context, data) {
                //     return new Promise((resolve, reject) => {
                //         superagent.get('http://www.yacoding.com/class.php').end(function(err, res) {
                //             if (err) {
                //                 console.log("Error");
                //             } else {
                //                 context.commit('load', JSON.parse(res.text).data)
                //                 resolve()

                //             }
                //         });
                //     })
                // }
                load: function(context, data) {
                    return superagent.get('http://www.yacoding.com/class.php').then(function(res) {

                        context.commit('load', JSON.parse(res.text).data)



                    });

                }
            }
        })

        var storeMixin = {
            computed: {
                message: {
                    get: function() {
                        return this.$store.state.message
                    },
                    set: function(val) {
                        this.$store.dispatch('change', val)
                            .then(function() {
                                console.log('actions complete')
                            })
                    }
                }
            }
        }
        var messageInput = {
            mixins: [storeMixin],
            template: `
        <input type="text" v-model.trim.lazy="message">
      `
        }

        Vue.component('message', {
            mixins: [storeMixin],
            components: {
                messageInput: messageInput
            },
            template: `
        <div>
          <h1>{{ message }}</h1>
          <p><message-input></message-input></p>
          
        </div>
      `
        })

        var vm = new Vue({
            mixins: [storeMixin],
            el: '#app',
            store: store,
            data: {
                loading: false
            },
            computed: {
                list: function() {
                    return this.$store.state.list
                }
            },
            methods: {
                loadHandler: function() {
                    this.loading = true
                    this.$store.dispatch('load').then(() => {
                        this.loading = false
                    })
                }
            }
        })
    </script>
</body>

</html>