<template>
  <div id="app">
  <router-link to="/">test</router-link>
  <router-link to="/test2">test2</router-link>
  <welcome></welcome>

    <List :type="'essential'"></List>
    <List :type="'ecosystem'"></List>
    <router-view></router-view>

  </div>
</template>

<script>
import welcome from './components/WelcomeComponent.vue'
import list from './components/ListComponent.vue'
import Test2 from './components/Test2.vue'

export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  components:{

      "welcome":welcome,
      "List":list
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
