<template>
    <div>
        <h2>{{title}}</h2>
        <ul>
        <li v-for="item in links"><a href="item.links" target="item.target">{{item.text}}</a></li>
        </ul>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    export default{
        name:'list',
        props:['type'],
        computed:{
            title:function(){
                return this.state[this.type].title
            },
            links(){
                return this.state[this.type].links
            },
            ...mapState({
                state: state=>state
            })
        }
    }
</script>