<template>
    <div>
    Hello World!!!{{name}}
    </div>
</template>
<style scoped>
  div{
      color:red;
      font-weight:bold;
      
  }   
</style>
<script>
    module.exports={
        data:function(){
            return{
                name:"Shela"
            }
        }
    }
</script>