<template>
    <h1>HELLO</h1>
</template>
<style scoped>
/*區域樣式*/
    h1{
        font-size:22;
        color:purple;
    }
    body{
     background:#000;
 }
</style>
<style>
    h1{
        background-color : yellow;
    }
</style>
<script>
    
</script>