<template>
<div>
    <img src="../assets/logo.png">
    <h1>\{{ msg }}</h1>
</div>
</template>
<script>
import {mapState} from 'vuex'
    const name ="welcome"
    export default{
        name:name,
        computed:{
            // msg:function(){
            //     return this.$store.state.welcome.msg
            // }
            ...mapState({
                // msg:function(state){
                //     return state.welcome.msg
                // }
                msg:(state)=> state[name].msg,
            })
        }
        
    }
</script>
<style scoped>
h1{
    color:green;
    background: url('/dist/logo.png');
    /*如要直接連結圖片要用絕對路徑 */
}
</style>