.slide-up-enter-active, .slide-up-leave-active,
.slide-down-enter-active, .slide-down-leave-active,
.slide-left-enter-active, .slide-left-leave-active,
.slide-right-enter-active, .slide-right-leave-active {
  transition: all .5s;
}
.slide-up-enter-to, .slide-up-leave-to,
.slide-down-enter-to, .slide-down-leave-to,
.slide-left-enter-to, .slide-left-leave-to,
.slide-right-enter-to, .slide-right-leave-to {
  transform: translate(0px 0px);
}
.slide-up-enter, .slide-up-leave-to, 
.slide-down-enter, .slide-down-leave-to,
.slide-left-enter, .slide-left-leave-to, 
.slide-right-enter, .slide-right-leave-to {
  opacity: 0;
}
.slide-up-enter {
  transform: translate(0px, 50px);
}
.slide-up-leave-to {
  transform: translate(0px, -50px);
}
.slide-down-enter {
  transform: translate(0px, -50px);
}
.slide-down-leave-to {
  transform: translate(0px, 50px);
}
.slide-left-enter {
  transform: translate(-50px, 0px);
}
.slide-left-leave-to {
  transform: translate(50px, 0px);
}
.slide-right-enter {
  transform: translate(50px, 0px);
}
.slide-right-leave-to {
  transform: translate(-50px, 0px);
}