<script>
  export default {
    metaInfo: {
      title: 'Vue.js',
      titleTemplate: null,
      meta: [{
        'http-equiv': 'Content-Type',
        content: 'text/html; charset=utf-8'
      }, {
        'http-equiv': 'Content-language',
        content: 'zh-tw'
      }, {
        name: 'viewport',
        content: 'initial-scale=1, maximum-scale=1, user-scalable=no'
      }],
      link: [
        { rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono' }
      ],
      script: [
        { src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" }
      ]
    }
  }
</script>

<template src="./template.html"></template>
<style lang="scss" src="./style/style.scss"></style>
